
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.navbar{
    width:100%;
    background-color: #2596be;
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height:130px;
}

.logo{
    border-radius: 45px;
    max-width: 10em;
}
.desc{
    display:flex;
    justify-content:end;
}

.menu{
    display:flex;
    list-style: none;
    flex-direction: row;
    padding:5px;
    margin-right:10px;
    border:none;
    color:white;
    
}

li{
  margin-left:15px;
  background-color: #92cbdf;
  padding:5px;
  
  
}

li:hover{
    background-color: #071e26;
    color:white;
}

.lgo{
    width:9em;
    height:9em;
    margin-left:5px;
    padding-right:5px;
}